$black: #121211;
@mixin margenes($top, $botton) {
    margin-top: $top;
    margin-bottom: $botton;
}

.jumbotron{
    background-color: $black;
    color: gray;
    @include margenes(30px, 0px);
}

.btn{
    background-color: $orange;
    color: white;
    width: 100%;
    border-radius: 0px;
}

.card-car{
    flex: 1 200x;
    margin-top: 10px;
}

footer{
    padding: 10px 10px 10px;
    background-color: $black;
    color: gray;
    @include margenes(20px, 0px);
}

.footer-adress-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}