@black1: #000000;
.mixin margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}



.jumbotron {
    background-color: @black1;
    color: gray;
    .margenes(50px, 0px);
}
  
  .btn {
    background-color: @black1;
    color: white;
    width: 100%;
    border-radius: 0px; }
  
  .card-car {
    flex: 1 200x;
    margin-top: 10px; 
}
  
  footer {
    padding: 10px 10px 10px;
    background-color: @black1;
    color: gray;
    .margenes(10px, 0px); 
}
  
  .footer-adress-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  