.jumbotron {
  background-color: #242423;
  color: gray;
  margin-top: 30px; }

.btn {
  background-color: #dea91b;
  color: white;
  width: 100%;
  border-radius: 0px; }

.card-car {
  flex: 1 200x;
  margin-top: 10px; }

footer {
  padding: 10px 10px 10px;
  background-color: #242423;
  color: gray;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-adress-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
