.jumbotron {
  background-color: #000000;
  color: gray;
  margin-top: 30px;
}
.btn {
  background-color: #000000;
  color: white;
  width: 100%;
  border-radius: 0px;
}
.card-car {
  flex: 1 200x;
  margin-top: 10px;
}
footer {
  padding: 10px 10px 10px;
  background-color: #000000;
  color: gray;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-adress-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
